{{#each articles}}
<div class='movie-wrapper' data-id='{{_id}}'>
  <a href='{{link}}' target='blank'>
    <p>{{title}}</p>
    </a>
    <div> {{duratio}}n
      <span class='separator'>|</span> {{year}}
      <span class='separator'>|</span> {{genre}}
      </div>
      <p> {{bio}}</p></div>

{{/each}}