<li>
	{{name}}

	<button class="change-favorite" data-id="{{id}}" data-newFavorite="{{favorite}}">
		{{#if favorite}}Save as Favorite!{{else}}Done{{/if}}
	</button>

	{{!-- <button class="delete-burgers" data-id="{{this.id}}">DELETE!</button> --}}
</li>
